{%  extends "html.twig" %}

{% set title = "Home" %}

{% block content %}
<div class="container">
    <h2>Customer Request Form</h2>

    <h4>Examples</h4>

    - <a href="/full.php">Full Page</a><br/>
    - <a href="/compact.php">Compact Page</a><br/>


</div>
{% endblock %}